<!DOCTYPE html>
<html>
  <head>
    <title>Project List</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Project List</h1>
    <ul>
    <%for (var i in projects){%>
      <li><%=i%>:<%=projects[i].title%></li>    
      <%}%>
    </ul>
  </body>
</html>
