<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel='stylesheet' href="/stylesheets/index.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <div class=form>
    <form action="/search" method="post">
    <input type="text" placeholder="Search for projects" name="projectKeyword">
    </form>
    </div>
</body>