<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Global School</title>
<link href="https://fonts.googleapis.com/css?family=Montserrat|Quicksand" rel="stylesheet">
<link rel='stylesheet' href="/stylesheets/minireset.css" />
<link rel='stylesheet' href="/stylesheets/main.css" />
</head>
  <body>
    <h1>User List</h1>
    <ul>
      <% var list = ''; for (i = 0; i < userlist.length; i++) { list += '
      <li>
        <a href="mailto:' + userlist[i].email + '"
          >' + userlist[i].username + '</a
        >
      </li>
      '; } return list; %>
    </ul>
  </body>
</html>
