/*
	@name landing_page
*/
/* Only edit this if you know what you are doing! */
body { margin: 0px; padding: 0px; font-family:"Arial"; /*overflow-x:hidden;*/ }

/* Only edit this if you know what you are doing! */
img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }

/* Only edit this if you know what you are doing! */
div { position: absolute; }

#content-container { display: table; position: relative;  overflow: hidden;  }

#content-container > div{ position: relative; top:inherit; }
#page_landing_page_ek1 {
	top: 2805px;
	left: -1990px;
	width: 1920px;
	height: 1080px;
	overflow:hidden;
}

#_bg__landing_page_ek2 {
	top: -2805px;
	left: 1990px;
	width: 1920px;
	height: 1080px;
	background:rgba(255,255,255,255);
}


#rectangle_12 {
	top: 0px;
	left: 0px;
	width: 1918px;
	height: 1078px;
	border: 1px solid #707070;
	background:rgba(255,255,255,255);
}


#logo {
	top: 61px;
	left: 80px;
	width: 809px;
	height: 252px;
}


#back1 {
	top: 0px;
	left: 0px;
	width: 1920px;
	height: 1080px;
}


#rectangle_5 {
	opacity:0.43999999761581;
	top: 0px;
	left: 1632px;
	width: 286px;
	height: 1078px;
	border: 1px solid #707070;
	background:rgba(8,128,36,255);
}


#rectangle_1 {
	top: 0px;
	left: 1632px;
	width: 286.04272460938px;
	height: 71.184844970703px;
	border: 1px solid #707070;
	background:rgba(16,129,165,255);
}


#student {
	top: 11px;
	left: 1711px;
	width: 136px;
	height: 42px;
	font-family: Swis721 Lt BT;
	font-size: 30px;
	text-align: left;
	color:#ffffff;
}


#ic_search_white_48dp {
	top: 766px;
	left: 732px;
	width: 82px;
	height: 82px;
}


#rectangle_7 {
	top: 146px;
	left: 1632px;
	width: 286.04272460938px;
	height: 71.184844970703px;
	border: 1px solid #707070;
	background:rgba(181,181,181,255);
}


#sign_in {
	top: 156px;
	left: 1724px;
	width: 110px;
	height: 42px;
	font-family: Swis721 Lt BT;
	font-size: 30px;
	text-align: left;
	color:#ffffff;
}


#logo2 {
	top: 489px;
	left: -180px;
	width: 580px;
	height: 699px;
}


#rectangle_6 {
	opacity:0.75;
	top: 766px;
	left: 80px;
	width: 637px;
	height: 70px;
	border: 1px solid #707070;
	background:rgba(255,255,255,255);
}


#explore_opportunities {
	top: 845px;
	left: 80px;
	width: 368px;
	height: 42px;
	font-family: Swis721 Lt BT;
	font-size: 30px;
	text-align: left;
	color:#ffffff;
}


#get_started {
	top: 662px;
	left: 80px;
	width: 452px;
	height: 98px;
	font-family: Swis721 Lt BT;
	font-size: 70px;
	text-align: left;
	color:#ffffff;
}


#rectangle_11 {
	top: 73px;
	left: 1632px;
	width: 286.04272460938px;
	height: 71.184844970703px;
	border: 1px solid #707070;
	background:rgba(115,74,138,255);
}


#company {
	top: 84px;
	left: 1705px;
	width: 148px;
	height: 42px;
	font-family: Swis721 Lt BT;
	font-size: 30px;
	text-align: left;
	color:#ffffff;
}


#rectangle_22 {
	top: 853px;
	left: 472px;
	width: 245px;
	height: 55px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	border: 1px solid #707070;
	-ms-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	-o-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	-webkit-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	-moz-box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	box-shadow:0px 3px 5px 1px rgba(0,0,0,0.41);
	background:rgba(168,44,44,255);
}


#show_all {
	top: 861px;
	left: 531px;
	width: 126px;
	height: 35px;
	font-family: Swis721 Lt BT;
	font-size: 25px;
	text-align: left;
	color:#ffffff;
}

#page_student_ek2 {
	top: 2805px;
	left: 0px;
	width: 1920px;
	height: 1080px;
	overflow:hidden;
}

#_bg__student_ek3 {
	top: -2805px;
	left: 0px;
	width: 1920px;
	height: 1080px;
	background:rgba(255,255,255,255);
}


#rectangle_13 {
	top: 0px;
	left: 0px;
	width: 1918px;
	height: 1078px;
	border: 1px solid #707070;
	background:rgba(255,255,255,255);
}


#logo_ek1 {
	top: 61px;
	left: 80px;
	width: 809px;
	height: 252px;
}


#back1_ek1 {
	top: 0px;
	left: 0px;
	width: 1920px;
	height: 1080px;
}


#rectangle_5_ek1 {
	opacity:0.43999999761581;
	top: 0px;
	left: 1632px;
	width: 286px;
	height: 1078px;
	border: 1px solid #707070;
	background:rgba(8,128,36,255);
}


#rectangle_15 {
	opacity:0.31999999284744;
	top: 0px;
	left: 0px;
	width: 1918px;
	height: 1078px;
	border: 1px solid #707070;
	background:rgba(16,129,165,255);
}


#ic_search_white_48dp_ek1 {
	top: 766px;
	left: 732px;
	width: 82px;
	height: 82px;
}


#rectangle_1_ek1 {
	top: 0px;
	left: 1632px;
	width: 286.04272460938px;
	height: 71.184844970703px;
	border: 1px solid #707070;
	background:rgba(16,129,165,255);
}


#student_ek4 {
	top: 11px;
	left: 1711px;
	width: 136px;
	height: 42px;
	font-family: Swis721 Lt BT;
	font-size: 30px;
	text-align: left;
	color:#ffffff;
}


#rectangle_7_ek1 {
	top: 366px;
	left: 1632px;
	width: 286.04272460938px;
	height: 71.184844970703px;
	border: 1px solid #707070;
	background:rgba(181,181,181,255);
}


#logo2_ek1 {
	top: 489px;
	left: -180px;
	width: 580px;
	height: 699px;
}


#rectangle_6_ek1 {
	opacity:0.75;
	top: 766px;
	left: 80px;
	width: 637px;
	height: 70px;
	border: 1px solid #707070;
	background:rgba(255,255,255,255);
}


#explore_opportunities_ek1 {
	top: 845px;
	left: 80px;
	width: 368px;
	height: 42px;
	font-family: Swis721 Lt BT;
	font-size: 30px;
	text-align: left;
	color:#ffffff;
}


#get_started_ek1 {
	top: 662px;
	left: 80px;
	width: 452px;
	height: 98px;
	font-family: Swis721 Lt BT;
	font-size: 70px;
	text-align: left;
	color:#ffffff;
}


#sign_in_ek1 {
	top: 376px;
	left: 1724px;
	width: 110px;
	height: 42px;
	font-family: Swis721 Lt BT;
	font-size: 30px;
	text-align: left;
	color:#ffffff;
}


#rectangle_8 {
	top: 73px;
	left: 1632px;
	width: 286.04272460938px;
	height: 71.184844970703px;
	border: 1px solid #707070;
	background:rgba(236,239,235,255);
}


#rectangle_9 {
	top: 146px;
	left: 1632px;
	width: 286.04272460938px;
	height: 71.184844970703px;
	border: 1px solid #707070;
	background:rgba(236,239,235,255);
}


#username {
	top: 93px;
	left: 1723px;
	width: 111px;
	height: 28px;
	font-family: Swis721 Lt BT;
	font-size: 20px;
	text-align: left;
	color:#a49e9e;
}


#password {
	top: 166px;
	left: 1722px;
	width: 113px;
	height: 28px;
	font-family: Swis721 Lt BT;
	font-size: 20px;
	text-align: left;
	color:#a49e9e;
}

#repeat_grid_1 {
	top: 220px;
	left: 1632px;
	width: 288.04272460938px;
	height: 73.184844970703px;
	overflow:hidden;
}

#rectangle_10 {
	top: 0px;
	left: 0px;
	width: 286.04272460938px;
	height: 71.184844970703px;
	border: 1px solid #707070;
	background:rgba(41,103,6,255);
}


#login {
	top: 231px;
	left: 1732px;
	width: 94px;
	height: 42px;
	font-family: Swis721 Lt BT;
	font-size: 30px;
	text-align: left;
	color:#ffffff;
}

#repeat_grid_2 {
	top: 293px;
	left: 1632px;
	width: 288.04272460938px;
	height: 73.184844970703px;
	overflow:hidden;
}
#__ek1 {
	top: 0px;
	left: 0px;
	width: 288.04272460938px;
	height: 73.184844970703px;
}

#rectangle_10_ek1 {
	top: 0px;
	left: 0px;
	width: 286.04272460938px;
	height: 71.184844970703px;
	border: 1px solid #707070;
	background:rgba(181,181,181,255);
}


#company_ek1 {
	top: 304px;
	left: 1705px;
	width: 148px;
	height: 42px;
	font-family: Swis721 Lt BT;
	font-size: 30px;
	text-align: left;
	color:#ffffff;
}

#page_company_ek3 {
	top: 2805px;
	left: 1990px;
	width: 1920px;
	height: 1080px;
	overflow:hidden;
}

#_bg__company_ek4 {
	top: -2805px;
	left: -1990px;
	width: 1920px;
	height: 1080px;
	background:rgba(255,255,255,255);
}


#rectangle_14 {
	top: 0px;
	left: 0px;
	width: 1918px;
	height: 1078px;
	border: 1px solid #707070;
	background:rgba(255,255,255,255);
}


#logo_ek2 {
	top: 61px;
	left: 80px;
	width: 809px;
	height: 252px;
}


#back1_ek2 {
	top: 0px;
	left: 0px;
	width: 1920px;
	height: 1080px;
}


#rectangle_5_ek2 {
	opacity:0.43999999761581;
	top: 0px;
	left: 1632px;
	width: 286px;
	height: 1078px;
	border: 1px solid #707070;
	background:rgba(8,128,36,255);
}


#ic_search_white_48dp_ek2 {
	top: 766px;
	left: 732px;
	width: 82px;
	height: 82px;
}


#rectangle_7_ek2 {
	top: 365px;
	left: 1632px;
	width: 286.04296875px;
	height: 71.184844970703px;
	border: 1px solid #707070;
	background:rgba(181,181,181,255);
}


#sign_in_ek2 {
	top: 375px;
	left: 1724px;
	width: 110px;
	height: 42px;
	font-family: Swis721 Lt BT;
	font-size: 30px;
	text-align: left;
	color:#ffffff;
}


#logo2_ek2 {
	top: 489px;
	left: -180px;
	width: 580px;
	height: 699px;
}


#rectangle_6_ek2 {
	opacity:0.75;
	top: 766px;
	left: 80px;
	width: 637px;
	height: 70px;
	border: 1px solid #707070;
	background:rgba(255,255,255,255);
}


#explore_opportunities_ek2 {
	top: 845px;
	left: 80px;
	width: 368px;
	height: 42px;
	font-family: Swis721 Lt BT;
	font-size: 30px;
	text-align: left;
	color:#ffffff;
}


#get_started_ek2 {
	top: 662px;
	left: 80px;
	width: 452px;
	height: 98px;
	font-family: Swis721 Lt BT;
	font-size: 70px;
	text-align: left;
	color:#ffffff;
}


#rectangle_16 {
	opacity:0.33000001311302;
	top: 0px;
	left: 0px;
	width: 1918px;
	height: 1078px;
	border: 1px solid #707070;
	background:rgba(126,42,174,255);
}


#rectangle_8_ek1 {
	top: 146px;
	left: 1632px;
	width: 286.04296875px;
	height: 71.184844970703px;
	border: 1px solid #707070;
	background:rgba(236,239,235,255);
}


#rectangle_9_ek1 {
	top: 219px;
	left: 1632px;
	width: 286.04296875px;
	height: 71.184844970703px;
	border: 1px solid #707070;
	background:rgba(236,239,235,255);
}


#username_ek1 {
	top: 166px;
	left: 1723px;
	width: 111px;
	height: 28px;
	font-family: Swis721 Lt BT;
	font-size: 20px;
	text-align: left;
	color:#a8a7a7;
}


#password_ek1 {
	top: 239px;
	left: 1722px;
	width: 113px;
	height: 28px;
	font-family: Swis721 Lt BT;
	font-size: 20px;
	text-align: left;
	color:#a8a7a7;
}

#repeat_grid_1_ek1 {
	top: 292px;
	left: 1632px;
	width: 288.04296875px;
	height: 73.184844970703px;
	overflow:hidden;
}
#__ek2 {
	top: 0px;
	left: 0px;
	width: 288.04296875px;
	height: 73.184844970703px;
}

#rectangle_10_ek2 {
	top: 0px;
	left: 0px;
	width: 286.04296875px;
	height: 71.184844970703px;
	border: 1px solid #707070;
	background:rgba(41,103,6,255);
}


#login_ek1 {
	top: 303px;
	left: 1732px;
	width: 94px;
	height: 42px;
	font-family: Swis721 Lt BT;
	font-size: 30px;
	text-align: left;
	color:#ffffff;
}

#repeat_grid_2_ek1 {
	top: 73px;
	left: 1632px;
	width: 288.04296875px;
	height: 73.184844970703px;
	overflow:hidden;
}
#__ek3 {
	top: 0px;
	left: 0px;
	width: 288.04296875px;
	height: 73.184844970703px;
}

#rectangle_10_ek3 {
	top: 0px;
	left: 0px;
	width: 286.04296875px;
	height: 71.184844970703px;
	border: 1px solid #707070;
	background:rgba(126,42,174,255);
}


#company_ek5 {
	top: 84px;
	left: 1705px;
	width: 148px;
	height: 42px;
	font-family: Swis721 Lt BT;
	font-size: 30px;
	text-align: left;
	color:#ffffff;
}


#rectangle_1_ek2 {
	top: 0px;
	left: 1632px;
	width: 286.04296875px;
	height: 71.184844970703px;
	border: 1px solid #707070;
	background:rgba(162,134,178,255);
}


#student_ek5 {
	top: 11px;
	left: 1711px;
	width: 136px;
	height: 42px;
	font-family: Swis721 Lt BT;
	font-size: 30px;
	text-align: left;
	color:#ffffff;
}

#page_student_profile_ek1 {
	top: 0px;
	left: 0px;
	width: 1920px;
	height: 1080px;
	overflow:hidden;
}

#_bg__student_profile_ek2 {
	top: 0px;
	left: 0px;
	width: 1920px;
	height: 1080px;
	background:rgba(255,255,255,255);
}


#rectangle_13_ek1 {
	top: 0px;
	left: 0px;
	width: 1918px;
	height: 1078px;
	border: 1px solid #707070;
	background:rgba(255,255,255,255);
}


#logo_ek3 {
	top: 61px;
	left: 80px;
	width: 809px;
	height: 252px;
}


#back1_ek3 {
	top: 0px;
	left: 0px;
	width: 1920px;
	height: 1080px;
}


#rectangle_5_ek3 {
	opacity:0.43999999761581;
	top: 0px;
	left: 1322px;
	width: 596px;
	height: 1078px;
	border: 1px solid #707070;
	background:rgba(10,78,117,255);
}


#ic_search_white_48dp_ek3 {
	top: 766px;
	left: 732px;
	width: 82px;
	height: 82px;
}


#logo2_ek3 {
	top: 489px;
	left: -180px;
	width: 580px;
	height: 699px;
}


#rectangle_6_ek3 {
	opacity:0.75;
	top: 766px;
	left: 80px;
	width: 637px;
	height: 70px;
	border: 1px solid #707070;
	background:rgba(255,255,255,255);
}


#explore_opportunities_ek3 {
	top: 845px;
	left: 80px;
	width: 368px;
	height: 42px;
	font-family: Swis721 Lt BT;
	font-size: 30px;
	text-align: left;
	color:#ffffff;
}


#get_started_ek3 {
	top: 662px;
	left: 80px;
	width: 452px;
	height: 98px;
	font-family: Swis721 Lt BT;
	font-size: 70px;
	text-align: left;
	color:#ffffff;
}


#ic_account_circle_white_48dp {
	top: 22px;
	left: 1472px;
	width: 299px;
	height: 299px;
}


#rectangle_17 {
	top: 314px;
	left: 1341px;
	width: 558px;
	height: 714px;
	-ms-border-radius: 43px;
	-o-border-radius: 43px;
	-moz-border-radius: 43px;
	-webkit-border-radius: 43px;
	border-radius: 43px;
	border: 1px solid #707070;
	background:rgba(255,255,255,255);
}


#first_name_last_name_e_mail_phone__school_degree_interests_cv {
	top: 321px;
	left: 1366px;
	width: 128px;
	height: 415px;
	font-family: Swis721 Lt BT;
	font-size: 22px;
	text-decoration: underline;
	text-align: left;
	color:#a8a7a7;
}


#___john____doe___johndoe_example_com____90534_567_89_00___alpinum_zuoz__switzerland___high_school___skiing__music__climbing__swimming____ {
	top: 321px;
	left: 1510px;
	width: 350px;
	height: 470px;
	font-family: Swis721 Lt BT;
	font-size: 22px;
	text-align: left;
	color:#a8a7a7;
}


#ic_settings_applications_grey600_48dp {
	top: 932px;
	left: 1377px;
	width: 70px;
	height: 70px;
}

#repeat_grid_3 {
	top: 873px;
	left: 1447px;
	width: 109px;
	height: 26px;
	overflow:hidden;
}
#__ek4 {
	top: 0px;
	left: 0px;
	width: 109px;
	height: 26px;
}

#find_jobs {
	top: -6px;
	left: 0px;
	width: 114px;
	height: 30px;
	font-family: Swis721 Lt BT;
	font-size: 22px;
	text-align: left;
	color:#a8a7a7;
}

#repeat_grid_4 {
	top: 954px;
	left: 1447px;
	width: 109px;
	height: 26px;
	overflow:hidden;
}
#__ek5 {
	top: 0px;
	left: 0px;
	width: 101px;
	height: 26px;
}

#settings {
	top: -6px;
	left: 0px;
	width: 106px;
	height: 30px;
	font-family: Swis721 Lt BT;
	font-size: 22px;
	text-align: left;
	color:#a8a7a7;
}


#ic_dns_grey600_48dp {
	top: 851px;
	left: 1673px;
	width: 70px;
	height: 70px;
}

#repeat_grid_5 {
	top: 873px;
	left: 1743px;
	width: 109px;
	height: 26px;
	overflow:hidden;
}
#__ek6 {
	top: 0px;
	left: 0px;
	width: 113px;
	height: 26px;
}

#schedule {
	top: -6px;
	left: 0px;
	width: 118px;
	height: 30px;
	font-family: Swis721 Lt BT;
	font-size: 22px;
	text-align: left;
	color:#a8a7a7;
}


#ic_star_outline_grey600_48dp {
	top: 926px;
	left: 1673px;
	width: 70px;
	height: 70px;
}

#repeat_grid_6 {
	top: 953px;
	left: 1743px;
	width: 109px;
	height: 26px;
	overflow:hidden;
}
#__ek7 {
	top: 0px;
	left: 0px;
	width: 101px;
	height: 26px;
}

#remarks {
	top: -6px;
	left: 0px;
	width: 106px;
	height: 30px;
	font-family: Swis721 Lt BT;
	font-size: 22px;
	text-align: left;
	color:#a8a7a7;
}


#line_1 {
	top: 833px;
	left: 1386px;
	width: 467px;
	height: 1px;
}


#ic_markunread_white_48dp {
	top: 80px;
	left: 1798px;
	width: 80px;
	height: 80px;
}


#ic_border_color_white_48dp {
	top: 196px;
	left: 1806px;
	width: 64px;
	height: 64px;
}


#line_2 {
	top: 62px;
	left: 1770px;
	width: 3px;
	height: 231px;
}


#line_3 {
	top: 62px;
	left: 1471px;
	width: 3px;
	height: 231px;
}


#ic_help_white_48dp {
	top: 188px;
	left: 1366px;
	width: 80px;
	height: 80px;
}


#rectangle_18 {
	top: 1011px;
	left: 1533px;
	width: 173.59912109375px;
	height: 43.065673828125px;
	-ms-border-radius: 22.5328369140625px;
	-o-border-radius: 22.5328369140625px;
	-moz-border-radius: 22.5328369140625px;
	-webkit-border-radius: 22.5328369140625px;
	border-radius: 22.5328369140625px;
	border: 1px solid #707070;
	background:rgba(5,87,113,255);
}


#ic_settings_power_white_48dp {
	top: 1014px;
	left: 1537px;
	width: 45px;
	height: 38px;
}


#log_out {
	top: 1013px;
	left: 1582px;
	width: 112px;
	height: 35px;
	font-family: Swis721 Lt BT;
	font-size: 25px;
	text-align: left;
	color:#ffffff;
}


#rectangle_19 {
	opacity:0.75;
	top: 0px;
	left: 1292px;
	width: 28px;
	height: 116px;
	border: 1px solid #707070;
	background:rgba(252,143,0,255);
}


#ic_chevron_right_white_48dp {
	top: 30px;
	left: 1278px;
	width: 59px;
	height: 59px;
}


#ic_dashboard_white_48dp {
	top: 78px;
	left: 1366px;
	width: 80px;
	height: 80px;
}


#briefcase {
	top: 858px;
	left: 1384px;
	width: 56px;
	height: 56px;
}

#page_student_profile___1_ek1 {
	top: 0px;
	left: 0px;
	width: 1920px;
	height: 1080px;
	overflow:hidden;
}

#_bg__student_profile___1_ek2 {
	top: 0px;
	left: 0px;
	width: 1920px;
	height: 1080px;
	background:rgba(255,255,255,255);
}


#rectangle_13_ek2 {
	top: 0px;
	left: 0px;
	width: 1918px;
	height: 1078px;
	border: 1px solid #707070;
	background:rgba(255,255,255,255);
}


#logo_ek4 {
	top: 61px;
	left: 80px;
	width: 809px;
	height: 252px;
}


#back1_ek4 {
	top: 0px;
	left: 0px;
	width: 1920px;
	height: 1080px;
}


#rectangle_5_ek4 {
	opacity:0.43999999761581;
	top: 85px;
	left: 1833px;
	width: 84.525390625px;
	height: 993px;
	border: 1px solid #707070;
	background:rgba(10,78,117,255);
}


#ic_search_white_48dp_ek4 {
	top: 766px;
	left: 732px;
	width: 82px;
	height: 82px;
}


#logo2_ek4 {
	top: 489px;
	left: -180px;
	width: 580px;
	height: 699px;
}


#rectangle_6_ek4 {
	opacity:0.75;
	top: 766px;
	left: 80px;
	width: 637px;
	height: 70px;
	border: 1px solid #707070;
	background:rgba(255,255,255,255);
}


#explore_opportunities_ek4 {
	top: 845px;
	left: 80px;
	width: 368px;
	height: 42px;
	font-family: Swis721 Lt BT;
	font-size: 30px;
	text-align: left;
	color:#ffffff;
}


#get_started_ek4 {
	top: 662px;
	left: 80px;
	width: 452px;
	height: 98px;
	font-family: Swis721 Lt BT;
	font-size: 70px;
	text-align: left;
	color:#ffffff;
}


#line_1_ek1 {
	top: 589px;
	left: 1844px;
	width: 68px;
	height: 3px;
}


#ic_border_color_white_48dp_ek1 {
	top: 352px;
	left: 1848px;
	width: 60px;
	height: 60px;
}


#ic_help_white_48dp_ek1 {
	top: 467px;
	left: 1842px;
	width: 70px;
	height: 70px;
}


#rectangle_20 {
	opacity:0.75;
	top: 0px;
	left: 1833px;
	width: 87px;
	height: 83px;
	border: 1px solid #707070;
	background:rgba(252,143,0,255);
}


#ic_chevron_right_white_48dp_ek1 {
	top: 3px;
	left: 1838px;
	width: 77px;
	height: 77px;
}


#rectangle_21 {
	top: 642px;
	left: 1846px;
	width: 65px;
	height: 412px;
	-ms-border-radius: 13px;
	-o-border-radius: 13px;
	-moz-border-radius: 13px;
	-webkit-border-radius: 13px;
	border-radius: 13px;
	background:rgba(255,255,255,255);
}


#ic_settings_applications_grey600_48dp_ek1 {
	top: 731px;
	left: 1847px;
	width: 60px;
	height: 60px;
}


#ic_dns_grey600_48dp_ek1 {
	top: 814px;
	left: 1846px;
	width: 60px;
	height: 60px;
}


#ic_star_outline_grey600_48dp_ek1 {
	top: 897px;
	left: 1847px;
	width: 60px;
	height: 60px;
}


#rectangle_18_ek1 {
	top: 994px;
	left: 1853px;
	width: 50.246826171875px;
	height: 52.430053710938px;
	-ms-border-radius: 25.1234130859375px;
	-o-border-radius: 25.1234130859375px;
	-moz-border-radius: 25.1234130859375px;
	-webkit-border-radius: 25.1234130859375px;
	border-radius: 25.1234130859375px;
	background:rgba(5,87,113,255);
}


#ic_settings_power_white_48dp_ek1 {
	top: 1000px;
	left: 1856px;
	width: 44.068115234375px;
	height: 37.846801757812px;
}


#ic_dashboard_white_48dp_ek1 {
	top: 120px;
	left: 1842px;
	width: 70px;
	height: 70px;
}


#ic_sms_grey600_48dp {
	top: 655px;
	left: 1851px;
	width: 55px;
	height: 55px;
}


#ic_markunread_white_48dp_ek1 {
	top: 241px;
	left: 1845px;
	width: 65px;
	height: 65px;
}

#page_landing_page___1_ek1 {
	top: 4251px;
	left: -1990px;
	width: 1920px;
	height: 1080px;
	overflow:hidden;
}

#_bg__landing_page___1_ek2 {
	top: -4251px;
	left: 1990px;
	width: 1920px;
	height: 1080px;
	background:rgba(255,255,255,255);
}


#achievement_agreement_black_and_white_997718 {
	top: 0px;
	left: 0px;
	width: 1920px;
	height: 1080px;
}


#rectangle_12_ek1 {
	opacity:0.40000000596046;
	top: 0px;
	left: 0px;
	width: 1918px;
	height: 1078px;
	border: 1px solid #707070;
	background:rgba(255,255,255,255);
}


#ic_search_white_48dp_ek5 {
	top: 766px;
	left: 732px;
	width: 82px;
	height: 82px;
}


#logo2_ek5 {
	top: 294px;
	left: -180px;
	width: 742px;
	height: 894px;
}

#repeat_grid_7 {
	top: 79px;
	left: 95px;
	width: 1590px;
	height: 893px;
	overflow:hidden;
}
#__ek8 {
	top: 0px;
	left: 0px;
	width: 1590px;
	height: 420px;
}
#job_card {
	top: 0px;
	left: 0px;
	width: 280px;
	height: 420px;
}

#rectangle_23 {
	top: 0px;
	left: 0px;
	width: 278px;
	height: 418px;
	-ms-border-radius: 32px;
	-o-border-radius: 32px;
	-moz-border-radius: 32px;
	-webkit-border-radius: 32px;
	border-radius: 32px;
	border: 1px solid #707070;
	background:rgba(161,14,14,255);
}


#opendata_ch_logo {
	top: 21px;
	left: 50px;
	width: 182px;
	height: 87px;
}


#description {
	top: 129px;
	left: 93px;
	width: 100px;
	height: 21px;
	font-family: Swis721 Lt BT;
	font-size: 15px;
	text-align: left;
	color:#ffffff;
}


#rectangle_24 {
	top: 157px;
	left: 23px;
	width: 236.62094116211px;
	height: 187px;
	-ms-border-radius: 27px;
	-o-border-radius: 27px;
	-moz-border-radius: 27px;
	-webkit-border-radius: 27px;
	border-radius: 27px;
	background:rgba(130,10,10,255);
}


#ic_stars_white_48dp {
	top: 350px;
	left: 192px;
	width: 55px;
	height: 55px;
}


#ic_check_circle_white_48dp {
	top: 350px;
	left: 35px;
	width: 55px;
	height: 55px;
}


#rectangle_27 {
	top: 378px;
	left: 96px;
	width: 90px;
	height: 5px;
	background:rgba(130,10,10,255);
}

#job_card_ek1 {
	top: 0px;
	left: 325px;
	width: 280px;
	height: 420px;
}

#rectangle_23_ek1 {
	top: 0px;
	left: 0px;
	width: 278px;
	height: 418px;
	-ms-border-radius: 32px;
	-o-border-radius: 32px;
	-moz-border-radius: 32px;
	-webkit-border-radius: 32px;
	border-radius: 32px;
	border: 1px solid #707070;
	background:rgba(161,14,14,255);
}


#opendata_ch_logo_ek1 {
	top: 21px;
	left: 50px;
	width: 182px;
	height: 87px;
}


#description_ek1 {
	top: 129px;
	left: 93px;
	width: 100px;
	height: 21px;
	font-family: Swis721 Lt BT;
	font-size: 15px;
	text-align: left;
	color:#ffffff;
}


#rectangle_24_ek1 {
	top: 157px;
	left: 23px;
	width: 236.62097167969px;
	height: 187px;
	-ms-border-radius: 27px;
	-o-border-radius: 27px;
	-moz-border-radius: 27px;
	-webkit-border-radius: 27px;
	border-radius: 27px;
	background:rgba(130,10,10,255);
}


#ic_stars_white_48dp_ek1 {
	top: 350px;
	left: 192px;
	width: 55px;
	height: 55px;
}


#ic_check_circle_white_48dp_ek1 {
	top: 350px;
	left: 35px;
	width: 55px;
	height: 55px;
}


#rectangle_27_ek1 {
	top: 378px;
	left: 96px;
	width: 90px;
	height: 5px;
	background:rgba(130,10,10,255);
}

#job_card_ek2 {
	top: 0px;
	left: 650px;
	width: 940px;
	height: 420px;
	overflow:hidden;
}
#job_card_ek3 {
	top: 0px;
	left: 0px;
	width: 280px;
	height: 420px;
}

#rectangle_23_ek2 {
	top: 0px;
	left: 0px;
	width: 278px;
	height: 418px;
	-ms-border-radius: 32px;
	-o-border-radius: 32px;
	-moz-border-radius: 32px;
	-webkit-border-radius: 32px;
	border-radius: 32px;
	border: 1px solid #707070;
	background:rgba(161,14,14,255);
}


#opendata_ch_logo_ek2 {
	top: 21px;
	left: 50px;
	width: 182px;
	height: 87px;
}


#description_ek2 {
	top: 129px;
	left: 93px;
	width: 100px;
	height: 21px;
	font-family: Swis721 Lt BT;
	font-size: 15px;
	text-align: left;
	color:#ffffff;
}


#rectangle_24_ek2 {
	top: 157px;
	left: 23px;
	width: 236.62097167969px;
	height: 187px;
	-ms-border-radius: 27px;
	-o-border-radius: 27px;
	-moz-border-radius: 27px;
	-webkit-border-radius: 27px;
	border-radius: 27px;
	background:rgba(130,10,10,255);
}


#ic_stars_white_48dp_ek2 {
	top: 350px;
	left: 192px;
	width: 55px;
	height: 55px;
}


#ic_check_circle_white_48dp_ek2 {
	top: 350px;
	left: 35px;
	width: 55px;
	height: 55px;
}


#rectangle_27_ek2 {
	top: 378px;
	left: 96px;
	width: 90px;
	height: 5px;
	background:rgba(130,10,10,255);
}

#job_card_ek4 {
	top: 0px;
	left: 325px;
	width: 280px;
	height: 420px;
}

#rectangle_23_ek3 {
	top: 0px;
	left: 0px;
	width: 278px;
	height: 418px;
	-ms-border-radius: 32px;
	-o-border-radius: 32px;
	-moz-border-radius: 32px;
	-webkit-border-radius: 32px;
	border-radius: 32px;
	border: 1px solid #707070;
	background:rgba(161,14,14,255);
}


#opendata_ch_logo_ek3 {
	top: 21px;
	left: 50px;
	width: 182px;
	height: 87px;
}


#description_ek3 {
	top: 129px;
	left: 93px;
	width: 100px;
	height: 21px;
	font-family: Swis721 Lt BT;
	font-size: 15px;
	text-align: left;
	color:#ffffff;
}


#rectangle_24_ek3 {
	top: 157px;
	left: 23px;
	width: 236.62097167969px;
	height: 187px;
	-ms-border-radius: 27px;
	-o-border-radius: 27px;
	-moz-border-radius: 27px;
	-webkit-border-radius: 27px;
	border-radius: 27px;
	background:rgba(130,10,10,255);
}


#ic_stars_white_48dp_ek3 {
	top: 350px;
	left: 192px;
	width: 55px;
	height: 55px;
}


#ic_check_circle_white_48dp_ek3 {
	top: 350px;
	left: 35px;
	width: 55px;
	height: 55px;
}


#rectangle_27_ek3 {
	top: 378px;
	left: 96px;
	width: 90px;
	height: 5px;
	background:rgba(130,10,10,255);
}

#job_card_ek5 {
	top: 0px;
	left: 650px;
	width: 280px;
	height: 420px;
}

#rectangle_23_ek4 {
	top: 0px;
	left: 0px;
	width: 278px;
	height: 418px;
	-ms-border-radius: 32px;
	-o-border-radius: 32px;
	-moz-border-radius: 32px;
	-webkit-border-radius: 32px;
	border-radius: 32px;
	border: 1px solid #707070;
	background:rgba(161,14,14,255);
}


#opendata_ch_logo_ek4 {
	top: 21px;
	left: 50px;
	width: 182px;
	height: 87px;
}


#description_ek4 {
	top: 129px;
	left: 93px;
	width: 100px;
	height: 21px;
	font-family: Swis721 Lt BT;
	font-size: 15px;
	text-align: left;
	color:#ffffff;
}


#rectangle_24_ek4 {
	top: 157px;
	left: 23px;
	width: 236.62097167969px;
	height: 187px;
	-ms-border-radius: 27px;
	-o-border-radius: 27px;
	-moz-border-radius: 27px;
	-webkit-border-radius: 27px;
	border-radius: 27px;
	background:rgba(130,10,10,255);
}


#ic_stars_white_48dp_ek4 {
	top: 350px;
	left: 192px;
	width: 55px;
	height: 55px;
}


#ic_check_circle_white_48dp_ek4 {
	top: 350px;
	left: 35px;
	width: 55px;
	height: 55px;
}


#rectangle_27_ek4 {
	top: 378px;
	left: 96px;
	width: 90px;
	height: 5px;
	background:rgba(130,10,10,255);
}

#__ek9 {
	top: 465px;
	left: 0px;
	width: 1590px;
	height: 420px;
}
#job_card_ek6 {
	top: 0px;
	left: 0px;
	width: 280px;
	height: 420px;
}

#rectangle_23_ek5 {
	top: 0px;
	left: 0px;
	width: 278px;
	height: 418px;
	-ms-border-radius: 32px;
	-o-border-radius: 32px;
	-moz-border-radius: 32px;
	-webkit-border-radius: 32px;
	border-radius: 32px;
	border: 1px solid #707070;
	background:rgba(161,14,14,255);
}


#opendata_ch_logo_ek5 {
	top: 21px;
	left: 50px;
	width: 182px;
	height: 87px;
}


#description_ek5 {
	top: 129px;
	left: 93px;
	width: 100px;
	height: 21px;
	font-family: Swis721 Lt BT;
	font-size: 15px;
	text-align: left;
	color:#ffffff;
}


#rectangle_24_ek5 {
	top: 157px;
	left: 23px;
	width: 236.62094116211px;
	height: 187px;
	-ms-border-radius: 27px;
	-o-border-radius: 27px;
	-moz-border-radius: 27px;
	-webkit-border-radius: 27px;
	border-radius: 27px;
	background:rgba(130,10,10,255);
}


#ic_stars_white_48dp_ek5 {
	top: 350px;
	left: 192px;
	width: 55px;
	height: 55px;
}


#ic_check_circle_white_48dp_ek5 {
	top: 350px;
	left: 35px;
	width: 55px;
	height: 55px;
}


#rectangle_27_ek5 {
	top: 378px;
	left: 96px;
	width: 90px;
	height: 5px;
	background:rgba(130,10,10,255);
}

#job_card_ek7 {
	top: 0px;
	left: 325px;
	width: 280px;
	height: 420px;
}

#rectangle_23_ek6 {
	top: 0px;
	left: 0px;
	width: 278px;
	height: 418px;
	-ms-border-radius: 32px;
	-o-border-radius: 32px;
	-moz-border-radius: 32px;
	-webkit-border-radius: 32px;
	border-radius: 32px;
	border: 1px solid #707070;
	background:rgba(161,14,14,255);
}


#opendata_ch_logo_ek6 {
	top: 21px;
	left: 50px;
	width: 182px;
	height: 87px;
}


#description_ek6 {
	top: 129px;
	left: 93px;
	width: 100px;
	height: 21px;
	font-family: Swis721 Lt BT;
	font-size: 15px;
	text-align: left;
	color:#ffffff;
}


#rectangle_24_ek6 {
	top: 157px;
	left: 23px;
	width: 236.62097167969px;
	height: 187px;
	-ms-border-radius: 27px;
	-o-border-radius: 27px;
	-moz-border-radius: 27px;
	-webkit-border-radius: 27px;
	border-radius: 27px;
	background:rgba(130,10,10,255);
}


#ic_stars_white_48dp_ek6 {
	top: 350px;
	left: 192px;
	width: 55px;
	height: 55px;
}


#ic_check_circle_white_48dp_ek6 {
	top: 350px;
	left: 35px;
	width: 55px;
	height: 55px;
}


#rectangle_27_ek6 {
	top: 378px;
	left: 96px;
	width: 90px;
	height: 5px;
	background:rgba(130,10,10,255);
}

#job_card_ek8 {
	top: 0px;
	left: 650px;
	width: 940px;
	height: 420px;
	overflow:hidden;
}
#job_card_ek9 {
	top: 0px;
	left: 0px;
	width: 280px;
	height: 420px;
}

#rectangle_23_ek7 {
	top: 0px;
	left: 0px;
	width: 278px;
	height: 418px;
	-ms-border-radius: 32px;
	-o-border-radius: 32px;
	-moz-border-radius: 32px;
	-webkit-border-radius: 32px;
	border-radius: 32px;
	border: 1px solid #707070;
	background:rgba(161,14,14,255);
}


#opendata_ch_logo_ek7 {
	top: 21px;
	left: 50px;
	width: 182px;
	height: 87px;
}


#description_ek7 {
	top: 129px;
	left: 93px;
	width: 100px;
	height: 21px;
	font-family: Swis721 Lt BT;
	font-size: 15px;
	text-align: left;
	color:#ffffff;
}


#rectangle_24_ek7 {
	top: 157px;
	left: 23px;
	width: 236.62097167969px;
	height: 187px;
	-ms-border-radius: 27px;
	-o-border-radius: 27px;
	-moz-border-radius: 27px;
	-webkit-border-radius: 27px;
	border-radius: 27px;
	background:rgba(130,10,10,255);
}


#ic_stars_white_48dp_ek7 {
	top: 350px;
	left: 192px;
	width: 55px;
	height: 55px;
}


#ic_check_circle_white_48dp_ek7 {
	top: 350px;
	left: 35px;
	width: 55px;
	height: 55px;
}


#rectangle_27_ek7 {
	top: 378px;
	left: 96px;
	width: 90px;
	height: 5px;
	background:rgba(130,10,10,255);
}

#job_card_ek10 {
	top: 0px;
	left: 325px;
	width: 280px;
	height: 420px;
}

#rectangle_23_ek8 {
	top: 0px;
	left: 0px;
	width: 278px;
	height: 418px;
	-ms-border-radius: 32px;
	-o-border-radius: 32px;
	-moz-border-radius: 32px;
	-webkit-border-radius: 32px;
	border-radius: 32px;
	border: 1px solid #707070;
	background:rgba(161,14,14,255);
}


#opendata_ch_logo_ek8 {
	top: 21px;
	left: 50px;
	width: 182px;
	height: 87px;
}


#description_ek8 {
	top: 129px;
	left: 93px;
	width: 100px;
	height: 21px;
	font-family: Swis721 Lt BT;
	font-size: 15px;
	text-align: left;
	color:#ffffff;
}


#rectangle_24_ek8 {
	top: 157px;
	left: 23px;
	width: 236.62097167969px;
	height: 187px;
	-ms-border-radius: 27px;
	-o-border-radius: 27px;
	-moz-border-radius: 27px;
	-webkit-border-radius: 27px;
	border-radius: 27px;
	background:rgba(130,10,10,255);
}


#ic_stars_white_48dp_ek8 {
	top: 350px;
	left: 192px;
	width: 55px;
	height: 55px;
}


#ic_check_circle_white_48dp_ek8 {
	top: 350px;
	left: 35px;
	width: 55px;
	height: 55px;
}


#rectangle_27_ek8 {
	top: 378px;
	left: 96px;
	width: 90px;
	height: 5px;
	background:rgba(130,10,10,255);
}

#job_card_ek11 {
	top: 0px;
	left: 650px;
	width: 280px;
	height: 420px;
}

#rectangle_23_ek9 {
	top: 0px;
	left: 0px;
	width: 278px;
	height: 418px;
	-ms-border-radius: 32px;
	-o-border-radius: 32px;
	-moz-border-radius: 32px;
	-webkit-border-radius: 32px;
	border-radius: 32px;
	border: 1px solid #707070;
	background:rgba(161,14,14,255);
}


#opendata_ch_logo_ek9 {
	top: 21px;
	left: 50px;
	width: 182px;
	height: 87px;
}


#description_ek9 {
	top: 129px;
	left: 93px;
	width: 100px;
	height: 21px;
	font-family: Swis721 Lt BT;
	font-size: 15px;
	text-align: left;
	color:#ffffff;
}


#rectangle_24_ek9 {
	top: 157px;
	left: 23px;
	width: 236.62097167969px;
	height: 187px;
	-ms-border-radius: 27px;
	-o-border-radius: 27px;
	-moz-border-radius: 27px;
	-webkit-border-radius: 27px;
	border-radius: 27px;
	background:rgba(130,10,10,255);
}


#ic_stars_white_48dp_ek9 {
	top: 350px;
	left: 192px;
	width: 55px;
	height: 55px;
}


#ic_check_circle_white_48dp_ek9 {
	top: 350px;
	left: 35px;
	width: 55px;
	height: 55px;
}


#rectangle_27_ek9 {
	top: 378px;
	left: 96px;
	width: 90px;
	height: 5px;
	background:rgba(130,10,10,255);
}


#__p____develop_a_learning_concept_that_helps_students_to_grasp_and_work_with_data_in_a_fun_and_accessible_way__get_moving__get_outside__use_the_data_to_connect_and_contribute_to_sources_of_open_data__ {
	top: 247px;
	left: 140px;
	width: 208px;
	height: 158.5px;
	overflow: hidden;
	font-family: Swis721 Lt BT;
	font-size: 15px;
	text-align: left;
	line-height: 20px;
	color:#ffffff;
}


#rectangle_28 {
	top: 0px;
	left: 1819px;
	width: 99px;
	height: 1089px;
	border: 1px solid #707070;
	background:rgba(125,42,42,255);
}


#ic_home_white_48dp {
	top: 14px;
	left: 1834px;
	width: 71px;
	height: 71px;
}



/* Add your custom CSS here */
